/* Google fonts link */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');


body{
    font-family: 'Work Sans';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.primary-color{
    color: #FF42A5;
}

/* Main css start */

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.logo,.navbar,.menu ul{
    display: flex;
}
.logo h2{
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.menu ul li{
    list-style-type: none;
    margin: 10px;
}
.menu ul li a{
    text-decoration: none;
}

.banner{
    display: flex;
}

.banner-text h2{
    font-size: 45px;
    font-weight: 600;
    color: #0B0223;
    margin-top: 100px;   
}
.banner-text h1{
    font-size: 95px;
    font-weight: 900;
    color: #F948B2  ;
}

.banner-text,.banner-img{
    width: 50%;
}

.banner-text p{
    margin-top: 10px;
}

.banner-img img{
    width: 90%;
}

.btn{
    margin-top: 30px;   
}
.btn-sign{
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background: #FF42A5;
    color: #fff;
    font-weight: 700;
}

.btn-rogue{
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background: #4EC5F7;
    color: #fff;
    font-weight: 700;
}